[submodule "third_party/src/github.com/lionkov/ninep"]
	path = third_party/src/github.com/lionkov/ninep
	url = https://github.com/JehanneOS/devtools-ninep.git
	branch = master
[submodule "third_party/src/github.com/0intro/drawterm"]
	path = third_party/src/github.com/0intro/drawterm
	url = https://github.com/JehanneOS/devtools-drawterm.git
[submodule "cross/pkgs/newlib/src"]
	path = cross/pkgs/newlib/src
	url = https://github.com/JehanneOS/newlib.git
[submodule "cross/pkgs/mksh"]
	path = cross/pkgs/mksh
	url = https://github.com/JehanneOS/mksh.git
