[submodule "third_party/src/github.com/lionkov/ninep"]
	path = third_party/src/github.com/lionkov/ninep
	url = https://github.com/JehanneOS/devtools-ninep.git
	branch = master
[submodule "third_party/src/github.com/0intro/drawterm"]
	path = third_party/src/github.com/0intro/drawterm
	url = https://github.com/JehanneOS/devtools-drawterm.git
[submodule "third_party/src/github.com/JehanneOS/devtools-kencc"]
	path = third_party/src/github.com/JehanneOS/devtools-kencc
	url = https://github.com/JehanneOS/devtools-kencc.git
